<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CityHive</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="left">
        <div class="left__con">
          <section v-for="group in tagGroups">
            <h3 class="tag-headers">
              {{group.name}}
            </h3>

            <div class="tags">
              <button
                :class="{'tag':true, 'tag_selected':selected[tag]===true}"
                v-for="tag in group.tags"
                @click="tagClicked(tag)"
              >
                <div class="check">
                  
                </div>
                <p>{{tag}}</p>
                
              </button>
            </div>
          </section>
          <!--    old hashtags          -->
          <!--     <button
              :class="{'tag':true, 'tag_selected':selected[tag.name]===true}"
              v-for="tag in hashtags"
              @click="tagClicked(tag.name)"
            >
              {{tag.name}} - {{tag.count}}
            </button> -->
        </div>
      </div>
      <div class="right">
        <div class="right__con">
          <div class="title__con">
            <h1 class="title">What’s new</h1>
            <p class="title__message">
              Don’t miss a thing - Check out our program updates, blog, new
              opportunities, and open applications below.
            </p>
          </div>

          <section class="section">
            <h2 class="section-titles">
              Programs
            </h2>

            <transition-group tag="div" name="list-complete" class="posts">
              <a
                class="post list-complete-item"
                v-for="post in instagramDataFiltered"
                :ref="post.id"
                :key="post.id"
                :href="'https://www.instagram.com/p/'+post.shortcode+'/'"
                target="_blank"
              >
                <div>
                  <img :src="post.thumbnail" alt="" loading="lazy" />
                </div>
                <h3>
                  {{post.title}}
                </h3>
                <p>
                  {{post.caption}}
                  <span class="gradient"></span>
                </p>
                <p class="learn">Learn more</p>
              </a>
            </transition-group>
          </section>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
