<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CityHive</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="left">
        <div class="left__con">
          <div class="tags">
            <button :class="{'tag':true, 'tag_selected':selected[tag.name]===true}" v-for="tag in hashtags" @click="tagClicked(tag.name)">
              {{tag.name}} - {{tag.count}}
            </button>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right__con">
          <div class="posts">
            <a class="post" v-for="post in instagramDataFiltered" :key="id" :href="'https://www.instagram.com/p/'+post.shortcode+'/'" target="_blank">
              <img :src="post.thumbnail" alt="" loading="lazy" />
              <h2 v-if="post.hashtags.length > 0">
                {{post.hashtags[0].substring(1).replace(/([A-Z])/g, ' $1').trim()}}
              </h2>
              <p>
                {{post.caption}}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
