/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5em;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#app {
  display: flex;
}

.left {
  flex: 1;
  overflow-y: scroll;
}
.right {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
